*, *: before, *: after {
  box-sizing: border-box;
}
/* text styles */
body {
  background-color: #000000;
  font-family: "SF Pro Display", sans-serif;
  color: white;
  font-weight: regular;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 375px;
  background-color: #0B4F6C;
  padding-bottom: 50px;
}

.nav {
  margin: 0 auto;
  position: fixed;
  width: 365px;
  background-color: #072E3F;
  padding: 5px;
}

.map {
  width: 420px;
  top: 64px;
}


h1 {
  color: #FFFFFF;
  font-weight: semi-bold;
  font-size: 1.6em;
  text-align: center;
  letter-spacing: .5px;
  padding: 14px;
  margin-right: 20px;
}

h2 {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: .3px;
  text-transform: uppercase;
  line-height: 1.6em;
}
h3 {
  font-weight: semi-bold;
  font-size: 17px;
}

.direction {
    font-weight: bold;
    font-size: 1em;
    letter-spacing: .3px;
    text-transform: uppercase;
    line-height: .5em;
    width: 100%;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 16px;

  }

.arrow-left {
  padding: 10px;
  float: left;
}
.times {
  border-bottom-style: solid;
  border-bottom-color: #08678F;
  border-bottom-width: 1px;
  padding: 16px;
}

.times:hover  {
  background-color: #072E3F /* mouse over */
}

.arrow {
  float: right;
  padding-right: 10px;
  margin-top: -7%;
}

.bus {
  float:left;
  padding-right: 10px;
  padding-top: 0px;
}

.icon i {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 11px 0;
    margin-bottom: ;
}

.icon i:hover  {
  background-color: #04161F /* mouse over */
}

.bottom {
  margin: 0 auto;
  border-top: .3px solid white;
  position: fixed;
  bottom: 0;
  width: 375px;
  height: 50px;
  background-color: #072E3F;
}

p.a {
  font-style: regular;
  font-size: 11px;
  padding-top: 3px;
  padding-left: 40px;
  color: orange;
}
