*, *: before, *: after {
  box-sizing: border-box;
}
/* text styles */
body {
  background-color: #000000;
  font-family: "SF Pro Display", sans-serif;
  color: white;
  font-weight: regular;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: auto;
  background-color: #0B4F6C;
  padding-bottom: 50px;
}

.nav {
  margin: 0 auto;
  position: fixed;
  width: 365px;
  background-color: #072E3F;
  padding: 5px;
}

.map img {
  width: 375px;
  top: 65px;
}

.status-bar img {
  width: 365px;
}


h1 {
  color: #FFFFFF;
  font-weight: semi-bold;
  font-size: 1.6em;
  text-align: center;
  letter-spacing: .5px;
  padding: 14px;
  margin-right: 20px;
}

h4 {
  font-weight: 400;
  font-size: 12px;
  padding-top: 3px;
}

h3 {
  font-weight: 400;
  font-size: 17px;
}

.direction {
    font-weight: bold;
    font-size: 1.05em;
    letter-spacing: .3px;
    text-transform: uppercase;
    line-height: .5em;
    width: 375;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 16px;
    border-top-style: solid;
    border-top-color: #08678F;
    border-top-width: 1px;

  }
/* This is for the very first directional
div element so I could get rid of the line at the top */
  .top {
    font-weight: bold;
    font-size: 1.05em;
    letter-spacing: .3px;
    text-transform: uppercase;
    line-height: .5em;
    width: 375;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 16px;
  }

  ul li.a{
    padding: 16px;

  }

.arrow-left {
  padding: 10px;
  float: left;
}
.main {
}

.a:hover  {
  background-color: #072E3F /* mouse over */
}

li .arrow {
  list-style-type: none;
  float: right;
  padding-right: 10px;
  margin-top: -8%;
}

li .bus {
  list-style-type: none;
  float:left;
  padding-right: 16px;
  padding-top: 0px;
}

li .information {
  list-style-type: none;
}

.icon i {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 11px 0;
    margin-bottom: ;
}

.icon i:hover  {
  background-color: #04161F /* mouse over */
}

.bottom {
  margin: 0 auto;
  border-top: .3px solid white;
  position: fixed;
  bottom: 0;
  width: 376px;
  height: 50px;
  background-color: #072E3F;
}

p.a {
  font-weight: regular;
  font-size: 11px;
  padding-top: 3px;
  padding-left: 40px;
  color: orange;
}
